/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

body{
  background: linear-gradient(#1F1D2A, 85%, #5d4377e3);
}
path:hover {
  fill: #DA4567;
}
/* @media only screen and (max-width: 375px) {
  h1{
    font-size: 20px;
  }
  .hYeNEX {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
     -webkit-justify-content: none !important; 
    -ms-flex-pack: space-evenly;
    justify-content: none !important;
}
} */
/* .main-card{
  height: 121px;
  width: 86px;
  background-color: hsl(237, 18%, 59%);
  color: #F15D8F;
} */
