body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Red Hat Text', sans-serif;
}
